    .btn-custom {
        background-color: #8B0000;
        color: white;
        padding: 0.5rem 1.5rem;
    }

    .container-custom {
        margin: 0 auto;
        max-width: 80%;
    }

    .card-equal-height {
        display: flex;
        flex-direction: column;
        height: 100%;
    }