.sidebar {
  background-color: #ffffff;
  color: black;
  padding-top: 10px;
  height: auto;
  max-height: 86vh;
  overflow-y: auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(220, 20, 60, 0.2);
}

.chat-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.ventana {
  height: calc(100vh - 80px);
  overflow: hidden;
  overflow-y: hidden;
}

.chat-list,
.chat-messages {
  overflow-y: auto;
}

.chat-header,
.chat-footer {
  background-color: #ffffff;
  padding: 15px;
  border-bottom: 1px solid #e0e0e0;
}

.chat-item {
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  margin-top: 3px;
}

.chat-item:hover,
.chat-item.active {
  background-color: #f8f9fa;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(220, 20, 60, 0.2);
}

.chat-item img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-messages {
  padding: 20px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  flex: 1;
  max-height: 70vh;
}

.message {
  max-width: 300px;
  padding: 10px 15px;
  border-radius: 15px;
  margin-bottom: 10px;
  font-size: 0.9rem;
  word-wrap: break-word;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.message:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.message.sent {
  background: linear-gradient(145deg, #f44336, #cd413e);
  box-shadow: 0 4px 8px rgba(244, 67, 54, 0.3);
  color: white;
  font-weight: 700;
  align-self: flex-end;
  border-top-right-radius: 0;
}

.message.received {
  background: linear-gradient(145deg, #bd3131, #b42525);
  box-shadow: 0 4px 8px rgba(183, 28, 28, 0.3);
  color: white;
  font-weight: 700;
  align-self: flex-start;
  border-top-left-radius: 0;
}

/* OPCION 2 DE COLOR ROJO MAS OSCURO PARA LOS MENSAJES RECIBIDOS
background: linear-gradient(145deg, #0084ff, #0059b3); 
box-shadow: 0 4px 8px rgba(0, 132, 255, 0.3); 
*/
.message small {
  display: block;
  font-size: 0.75rem;
  margin-top: 5px;
  color: #fff !important;
  font-weight: bold;
  opacity: 0.7;
}

.chat-footer {
  padding: 10px 15px;
  border-top: none;
  background-color: white;
}

.chat-footer input {
  flex: 1;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  background-color: #f0f0f0;
  margin-right: 10px;
}

.chat-footer button {
  background-color: #B22222;
  border: none;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 40%;
  margin: 3px;
}

.sidebar .input-group {
  max-width: 200px;
}

.input-group-text {
  background-color: transparent;
  border-right: none;
}

.form-control {
  border-left: none;
  box-shadow: none;
}

.btn-link {
  text-decoration: none;
}

.chat-container .ventana {
  overflow: hidden;
}

@media (max-width: 767px) {
  #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 75%;
    height: 100%;
    background-color: #fff;
    z-index: 1050;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  }

  #sidebar.show {
    transform: translateX(0);
  }
}