/* Estilo general */
.container {
    margin-top: 20px;
}

/* Estilos de la tabla */
.table-hover tbody tr:hover {
    background-color: #f9f9f9;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
}

/* Alinear los botones a la derecha */
.button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 15px;
}

.btn {
    font-weight: bold;
    padding: 8px 15px;
}

.btn-success {
    background-color: #800000;
    border: none;
}

.btn-success:hover {
    background-color: #660000;
    border-color: #660000;
}

.btn-primary {
    background-color: #21813c;
    border-color: #21813c;
    color: white;
}

.btn-primary:hover {
    background-color: #1d6c34; 
    border-color: #1d6c34;  
    color: white;
}
.btn-delete:active {
    transform: scale(0.95);
    animation: shake 0.4s linear;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-4px); }
    50% { transform: translateX(4px); }
    75% { transform: translateX(-4px); }
    100% { transform: translateX(0); }
}

.btn-animated {
    position: relative;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-animated:active {
    transform: scale(0.96);
    animation: button-press 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.btn-animated:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
@keyframes button-press {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.96);
    }
    100% {
        transform: scale(1);
    }
}

/* Ajustar la distancia entre botones */
.button-group {
    gap: 12px;
}

/* Botones de acciones en la tabla */
.table .btn-outline-secondary, .table .btn-outline-danger {
    font-size: 0.875rem;
    padding: 3px 10px;
}

.search-bar {
    max-width: 300px;
    
}
.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .page-numbers {
    display: flex;
  }
  
  .page-numbers li {
    list-style: none;
    margin: 0 5px;
  }
  
.page-numbers li.active a {
    font-weight: bold;
  }

  /* Fondo con desenfoque para la alerta */
.custom-swal-popup {
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    background: rgba(255, 255, 255, 0.9); 
    border-radius: 10px;
}

.swal2-container {
    backdrop-filter: blur(5px); 
    -webkit-backdrop-filter: blur(5px); 
}

@media (max-width: 500px) {
    .button-group {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        gap: 10px; 
        width: 100%;
    }

    .button-group .btn {
        width: 90%; 
        max-width: 300px; 
    }
}
